.tarjetas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .tarjetas .tarjeta {
    background-color: rgba(255, 0, 0, 0.8);
    background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0.8), rgba(255, 234, 0, 0.896));
    border-radius: 50px;
    margin: 2rem;
    padding: 1.5rem;
    border: solid red;
    width: 350px;
  }
  .tarjetas .tarjeta .tarjeta-nombre {
    width: 300px;
    height: 75px;
    margin-bottom: 10px;
  }
  .tarjetas .tarjeta .tarjeta-img {
    width: 300px;
    height: 300px;
    display: block;
    border-radius: 20px;
  }
  .tarjetas .tarjeta .tarjeta-img:hover {
    transform: scale(1.1);
  }
  .tarjetas .slit-in-vertical {
    animation: slit-in-vertical 0.45s linear both;
  }
  