

:root {
    --clr-negro: #1c1c1c;
    --clr-gris: #717171;
    --clr-blanco: #f7f7f7;

    --type-normal: #A8A878;
    --type-fuego: #F08030;
    --type-agua: #6890F0;
    --type-planta: #78C850;
    --type-electrico: #F8D030;
    --type-hielo: #98D8D8;
    --type-lucha: #C03028;
    --type-veneno: #A040A0;
    --type-tierra: #E0C068;
    --type-volador: #A890F0;
    --type-psiquico: #F85888;
    --type-bicho: #A8B820;
    --type-roca: #B8A038;
    --type-fantasma: #705898;
    --type-oscuridad: #705848;
    --type-dragon: #7038F8;
    --type-acero: #B8B8D0;
    --type-hada: #F0B6BC;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--clr-negror-);
    font-family: 'Rubik', sans-serif;
}

ul {
    list-style-type: none;
}

button {
    background-color: transparent;
    border: 0;
    border-radius: 0;
}

body {
    min-height: 100vh;
    background-color: var(--clr-gris);
}

header {
    padding-block: 1rem;
    box-shadow: 0 0 2rem -1rem rgba(0, 0, 0, .5);
}

.nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    padding-inline: 2rem;
    max-width: 1000px;
    margin: 0 auto;
}

.nav-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: .5rem;
}

.btn-header {
    background-color: var(--clr-gris);
    padding: .5rem;
    border-radius: 100vmax;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .25);
    transition: .2s;
}

.btn-header:hover {
    transform: scale(1.1);
    box-shadow: 0 0 2rem rgba(0, 0, 0, .25);
}

main {
    padding: 2rem;
    max-width: 1000px;
    margin: 0 auto;
   
}

.todosLosPokemon {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5rem;
}

.pokemon {
    border-radius: 1rem;
    background-color: var(--clr-blanco);
    box-shadow: 0 0 3rem -1rem rgba(0, 0, 0, .25);
    padding-block: 1rem;
    text-transform: uppercase;
    position: relative;
    isolation: isolate;
    overflow: hidden;
}

.pokemonNumID {
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 6rem;
    font-weight: 800;
    z-index: -1;
    color: var(--clr-gris);
}

.imagenPokemon {
    padding-inline: 1rem;
    display: flex;
    justify-content: center;
}

.imagenPokemon img {
    width: 100%;
    max-width: 6rem;
}

.dataPokemon {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding-inline: 1rem;
    align-items: center;
    text-align: center;
}

.contenedorNombre {
    display: flex;
    align-items: center;
    column-gap: .5rem;
    flex-wrap: wrap;
    justify-content: center;
}

.pokemonId {
    background-color: var(--clr-gris);
    padding: .25rem .5rem;
    border-radius: 100vmax;
    font-size: .75rem;
    font-weight: 500;
}

.nombrePokemon {
    font-size: 1.4rem;
}

.tipoPokemon {
    display: flex;
    gap: .5rem;
    font-size: .75rem;
    font-weight: 500;
    flex-wrap: wrap;
    justify-content: center;
    
}

.tipos {
    padding: .25rem .5rem;
    border-radius: 0.5px;
}

.pokemonTamaño {
    display: flex;
    gap: 1rem;
    font-size: .85rem;
}

.tamaño {
    background-color: var(--clr-gris);
    padding: .25rem .5rem;
    border-radius: 100vmax;
}



.normal {
    background-color: var(--type-normal);
    color: var(--clr-negro);
}

.fire {
    background-color: var(--type-fuego);
    color: var(--clr-negro);
}
.water  {
    background-color: var(--type-agua);
    color: var(--clr-blanco);
}

.grass {
    background-color: var(--type-planta);
    color: var(--clr-negro);
}

.electric {
    background-color: var(--type-electrico);
    color: var(--clr-negro);
}

.ice {
    background-color: var(--type-hielo);
    color: var(--clr-negro);
}

.fighting {
    background-color: var(--type-lucha);
    color: var(--clr-blanco);
}

.poison {
    background-color: var(--type-veneno);
    color: var(--clr-blanco);
}

.ground {
    background-color: var(--type-tierra);
    color: var(--clr-negro);
}

.flying {
    background-color: var(--type-volador);
    color: var(--clr-negro);
}

.psychic {
    background-color: var(--type-psiquico);
    color: var(--clr-negro);
}

.bug{
    background-color: var(--type-bicho);
    color: var(--clr-negro);
}

.rock {
    background-color: var(--type-roca);
    color: var(--clr-negro);
}

.ghost {
    background-color: var(--type-fantasma);
    color: var(--clr-blanco);
}

.dark{
    background-color: var(--type-oscuridad);
    color: var(--clr-blanco);
}

.dragon {
    background-color: var(--type-dragon);
    color: var(--clr-blanco);
}

.steel {
    background-color: var(--type-acero);
    color: var(--clr-negro);
}

.fairy {
    background-color: var(--type-hada);
    color: var(--clr-negro);
}