<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Contactanos, para contanos que es lo que mas te gusta o para dejarnos tu comentario contandonos que mas te gustaria ver y ayudarnos a mejora cada dia nuestra pagina">
    <meta name="keywords" content="pokemon, personajes, pokemones, temporadas, pikachu, charmander, ash, ketchu,  contactos">
    <title> POKEMON - CONTACTOS </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
  <header>
    
    <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid">
          <a class="navbar-brand" href="../index.html"><img src="../img/612ce4761b9679000402af1c.png" alt="logo" class="logo heartbeat"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav menu">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="./personajes.html">Personajes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./pokedex.html">Pokedex</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./temporadas.html">Temporadas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="./galeria.html">Galeria</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="./market.html">Productos</a>
              </li>
              <li class="nav-item aca">
                <a class="nav-link " href="./contactos.html">Contactos</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
  </header>
  <section>
    <h1>CONTACTOS</h1>
  </section>

  <div class="container">
        <section>
            
            <div class="formulario">
                
                
                <form action="">
                    
                    <label for ="nombre_apellido"> Nombre y apellido </label>
                    <input type="text" name="nombre_apellido" placeholder="Digite su nombre aqui">
                    
                    <label for="email">E-mail</label>
                    <input type="email" placeholder="ingresu su E-mail">
                    
                    <label for="text">Consulta</label>
                    <textarea name="consulta" id="" cols="30" rows="10"></textarea>
                    
                    <input type="submit" value="Enviar" class="enviar">
                    
                    
                </form>
            </div>
        </section>
    </div>

<hr>
<footer>
    <ul class="lista">
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="./personajes.html">personajes</a></li>
            <li><a href="./pokedex.html">Pokedex</a></li>
            <li><a href="./temporadas.html">Temporadas</a></li>
            <li><a href="./contactos.html">Contactos</a></li>
        
    </ul>
    <div class="SocRedes">
      <a href="#" class="social-link"><i class="bi bi-facebook"></i></a>
      <a href="#" class="social-link"><i class="bi bi-instagram"></i></a>
      <a href="#" class="social-link"><i class="bi bi-youtube"></i></a>
      <a href="#" class="social-link"><i class="bi bi-tiktok"></i></a>
      <a href="#" class="social-link"><i class="bi bi-twitter-x"></i></a>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>