<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Encontra las imagenes y los wallpapers mas lindos de esta historia para descargar, usar donde mas te gusto o compartir con tus amigos.">
    <meta name="keywords" content="pokemon, personajes, pokemones, temporadas, pikachu,  charmander, ash, ketchu, fotos, galeria, imagenes">
    <title>POKEMON - IMAGENES</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/main.css">
    
</head>
<body>
  
        <header>
            <nav class="navbar navbar-expand-lg ">
                <div class="container-fluid">
                  <a class="navbar-brand" href="../index.html"><img src="../img/612ce4761b9679000402af1c.png" alt="logo" class="logo heartbeat"></a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav menu">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="./personajes.html">Personajes</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="./pokedex.html">Pokedex</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="./temporadas.html">Temporadas</a>
                      </li>
                      <li class="nav-item aca">
                        <a class="nav-link " href="./galeria.html">Galeria</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link " href="./market.html">Productos</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link " href="./contactos.html">Contactos</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </nav>
        </header>
        <section>
          <h1>GALERIA</h1>
      </section>
        <div class="container-img">
            <div class="box-img">
                <a href="#">
                    <figure>
                        <img src="../img/galeria/img5.jpg" alt="">
                    </figure>
                </a>
            </div>
             <div class="box-img">
                <a href="#">
                    <figure>
                        <img src="../img/galeria/img2.jpg" alt="">
                    </figure>
                </a>
           </div>
           <div class="box-img">
                <a href="#">
                    <figure>
                        <img src="../img/galeria/img3.jpg" alt="">
                    </figure>
                </a>
            </div>
            <div class="box-img">
                <a href="#">
                    <figure>
                        <img src="../img/galeria/img4.jpg" alt="">
                    </figure>
                </a>
           </div>
           <div class="box-img">
                 <a href="#">
                    <figure>
                       <img src="../img/galeria/img1.jpg" alt="">
                    </figure>
                </a>
            </div>
            <div class="box-img">
                <a href="#">
                   <figure>
                      <img src="../img/galeria/img6.jpg" alt="">
                   </figure>
               </a>
           </div>
    
        </div>
        <footer>
            <ul>
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="./personajes.html">personajes</a></li>
                    <li><a href="./pokedex.html">Pokedex</a></li>
                    <li><a href="./temporadas.html">Temporadas</a></li>
                    <li><a href="./contactos.html">Contactos</a></li>
                
            </ul>
            <div class="SocRedes">
              <a href="#" class="social-link"><i class="bi bi-facebook"></i></a>
              <a href="#" class="social-link"><i class="bi bi-instagram"></i></a>
              <a href="#" class="social-link"><i class="bi bi-youtube"></i></a>
              <a href="#" class="social-link"><i class="bi bi-tiktok"></i></a>
              <a href="#" class="social-link"><i class="bi bi-twitter-x"></i></a>
            </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>