<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Obtén información  sobre cada episodio de la serie Pokémon indigo league y acompa;a a ash en su busqueda de convertirse en el mejor entrenador">
    <meta name="keywords" content="pokemon,  personajes, pokemones, temporadas, pikachu, charmander, ash, ketchu, capitulos, indigo, liga, batallas">
    <title>POKEMON- TEMPORADASt</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid">
          <a class="navbar-brand" href="../index.html"><img src="../img/612ce4761b9679000402af1c.png" alt="logo" class="logo heartbeat"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav menu">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="./personajes.html">Personajes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./pokedex.html">Pokedex</a>
              </li>
              <li class="nav-item aca">
                <a class="nav-link" href="./temporadas.html">Temporadas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="./galeria.html">Galeria</a>
              </li><li class="nav-item">
                <a class="nav-link " href="./market.html">Productos</a>
              </li>

              <li class="nav-item">
                <a class="nav-link " href="./contactos.html">Contactos</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
</header>
    <div class="container">

        <section>
            <h1>NO TE PIERDAS DE NADA</h1>
        </section>
        <section class="imagen">
            <img src="../img/indigoL0e20a3860f42a52e544d1682701b2c5d.png" alt="indigo">
        </section>
        <section class="videos">
            <div >
                <p class="titulos">Capitulo 1:¡Pokémon! ¡Yo te elijo!</p>
                
                <iframe  src="https://watch.pokemon.com/es-xl/#/player?id=94223aa2b4d143799542c06fb66b5e64&channelId=liga-anil&cameFromHome=false"  frameborder="0"  allowfullscreen></iframe>
            </div>
            <div >
                <p class="titulos">Capitulo 2:¡Enfrentamiento! ¡Centro Pokémon!</p>
                
                <iframe  src="https://watch.pokemon.com/es-xl/#/player?id=5d0dfca82c884703ba450f0caea78d98&channelId=liga-anil&cameFromHome=false"  frameborder="0"  allowfullscreen></iframe>
            </div>
            <div >
                <p class="titulos">Capitulo 3:¡Ash captura un  Pokémon!</p>
                <iframe src="https://watch.pokemon.com/es-xl/#/player?id=a0413593723b4b859b638d42363a2dce&channelId=liga-anil&cameFromHome=false" frameborder="0"></iframe>
                
            </section>
    </div>
            
            <hr>
            <footer>
                <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="./personajes.html">personajes</a></li>
                <li><a href="./pokedex.html">Pokedex</a></li>
                <li><a href="./temporadas.html">Temporadas</a></li>
                <li><a href="./contactos.html">Contactos</a></li>
            
        </ul>
        <div class="SocRedes">
          <a href="#" class="social-link"><i class="bi bi-facebook"></i></a>
          <a href="#" class="social-link"><i class="bi bi-instagram"></i></a>
          <a href="#" class="social-link"><i class="bi bi-youtube"></i></a>
          <a href="#" class="social-link"><i class="bi bi-tiktok"></i></a>
          <a href="#" class="social-link"><i class="bi bi-twitter-x"></i></a>
          <!--
            <span class="icono1" ><img src="../img/icons8-facebook-64.png" class="fa fa-facebook-f">  </span>
            <span class="icono2"><img src="../img/icons8-whatsapp-64.png" class="fa fa-twitter">  </span>
            <span class="icono4"><img src="../img/icons8-youtube-64.png" class="fa fa-yputube-play">  </span>
            <span class="icono4"><img src="../img/icons8-tik-tok-64.png" class="fa fa-tiktok">  </span>
            <span class="icono3"><img src="../img/icons8-instagram-64.png" class="fa fa-instagram">  </span>-->
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>